@import "tailwindcss";

/* @import url('fonts.google.com'); */

@theme {
  --color-brand-black: #121212;
  --color-brand-white: #ffffff;
  --color-brand-grey: #f3f4f6;
  --color-brand-blue: #0ea5e9;
  --color-brand-yellow: #facc15;
}

/* Keep your global styles below */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F9FAFB; /* Off-white background */
  color: #121212;
}